.contador{
  min-width: 300px;
  min-height: 300px;
  color: aliceblue;
  font-size: 160px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  margin: 15px;
}