
.contendenor-testimonio{
  width: 1170px;
  height: 386px;
  margin: 10px 10px 50px;
  display: flex;
 
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 3px 13px 1px rgba(1, 25, 43, 0.54);
  overflow: hidden;
}

.img-testimonio{
  
  height: 100%;
}
.img-testimonio:hover{
  height: 120%;
}
.contenedor-txt-testimonio{
  
  padding: 40px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  width: 100%;
  font-size: 18px;
}
.nombre-testimonio{
  font-size: 1.3rem;
  font-weight: 700;
  

}

.nombre-testimonio:hover{
  
  font-size: 1.8rem;
}
.cargo-testimonio{
  font-size: 1.3rem;
  margin-top: 13px;
  padding-bottom: 30px;

}
.texto-testimonio{
  font-size: 1.1rem;
  text-align: justify;

}