.modal{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    cursor:default;
    width: 100%;
    min-height: 100vh;

    background-color: rgba(39, 50, 96, 0.275);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal.is-open{

    display: flex;
}

.modal-contenedor{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    min-height: 120px;
    max-width: 350px;
    position: relative !important;
    background-color: #fff;
    align-items: center;
    justify-content: stretch;
    overflow: hidden;
    padding-top: 20px;

    border-radius: 20px;
}
.close-modal{
    color: red;
    padding: 4px;
    top: 0.5rem;
    right: 0.5rem;
    position: absolute;

}

.btn-confimar{
    
    cursor: pointer;
    bottom: 0px;
    width: 100%;
    background-color: rgb(59, 171, 83);
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;

}
.btn-confimar:hover{
    background-color: rgb(101, 203, 123);
}


@media only screen and (max-width: 400px) {
    .modal-contenedor{
        min-width: 80%;
        max-width: 80%;
    }
  }