.modal {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    cursor: default;
    width: 100%;
    min-height: 100vh;
   
    background-color: rgba(21, 26, 33, 0.453);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &.is-open {
      display: flex;
    }
  }
  


.glass-modal {
  @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 border border-gray-200
  }

  .modal-contenedor {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    min-height: 120px;
    
    padding: 1rem;
    //max-width: 350px;
    position: relative !important;

    // align-items: center;
    // justify-content: stretch;
    // justify-items: center;
    // overflow: scroll;
    //padding-top: 20px;
    border-radius: 20px;
  }
  
  .busqueda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: auto;
    min-height: auto;
    max-width: 80% !important;
    padding: 40px;
    overflow: scroll;

    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    justify-content: center;


  }
  
  .modal-contenedor::-webkit-scrollbar {
    display: none;
  }
  
  .close-modal {
    color: red;
    padding: 4px;
    top: 0.5rem;
    right: 0.5rem;
    position: absolute;
  }
  
  .btn-confimar {
    cursor: pointer;
    bottom: 0px;
    width: 100%;

    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;

    @apply  bg-shamrock-600 hover:bg-shamrock-700   transition-all ease-in-out ;


  }


  
  @media only screen and (max-width: 400px) {
    .modal-contenedor {
      min-width: 80%;
      max-width: 80%;
    }
  }