.contenedor-p {

    @apply flex flex-col w-40 h-44 
    shadow-lg 
    py-2
    bg-white items-center 
    justify-center 

    rounded-2xl
    hover:scale-105
    ease-in-out
    transition-all
    max-sm:w-36 max-sm:h-36

    ;

    
    

    // align-items: center;
     //justify-content: center;
  } 
  
  .imgProducto {
    @apply object-cover w-full 
     ;
    //tailwind responsive:
    // max-sm:w-36 max-sm:h-36
  }
  //tail
  
.titulo{
  @apply text-base text-center px-2 font-semibold text-neutral-900
   ;
}

  
  .producto-precio {
    font-weight: 500;
    color: rgb(3, 169, 83);
  }
  
  .cantidad {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    background-color: transparent;
    color: #0d0c22;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-bottom: 10px;
    margin: 5px;
    margin-top: 10px;
    width: 50%;
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #3e3f4177;
  
    &::placeholder {
      color: #777;
    }
  
    &:focus::placeholder {
      opacity: 0;
      transition: opacity .3s;
    }
  }
  

  .no-scrollbar {

  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .formulario{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 415px) {
    // .contenedor-p {
    //   display: flex;
    //   flex-wrap: nowrap;
    //   flex-direction: column;
    //   cursor: pointer;
    //   width: 30%;
    //   height: 8em;
    //   justify-content: center;
    //   background: rgb(255, 255, 255);
    //   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    //   border-radius: 20px;
    //   overflow: hidden;
    //   padding: 20px;
    // }
  }

